/* CSS DU PROJET */


/* HTML, BODY */

html,
body {
  height: 100%;
  background-color: #2d3135;
}

body {
  color: #ffffff;
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 15px;
  border-style: solid ;
  border-color: #303233;
}


/* Images */

img {
  height: auto;
  width: 80%;
}

/* Conteneur */

.container{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

/* Formulaire du projet */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  border-style: solid;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 12px;
}


/* Textes et autres */

h1,h2 {
  color: #99aab5;
  font-family: 'Tenor Sans', sans-serif;
  font-size: 25px;
}

a {
  color: #ffffff;
}

a:link {
  color: #7289da;
}

a:visited {
  color: #99aab5;
}

a:focus {
  color: #ffffff;
}

a:hover {
  color: #7289da;
}

a:active {
  color: #ffffff;
}


/* Représentation tabulaire */
table{
  margin-left: auto;
  margin-right: auto;
}
th {
background-color: #23272a;
color: white;
}

th, td {
padding: 15px;
text-align: center;
border-bottom: 1px solid #ddd;
}